<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/css/vet.css">
<title>Veterinaria</title>
</head>

<body>

<div th:replace="fragments/load :: load"></div>
	<nav th:replace="fragments/nav :: nav "></nav>
	<div class="container">

		<div class="row">
			<div class="col-8">
				<a th:href="@{/clientes/list/nombre}">
					<button type="button" class="btn btn-danger bmd-btn-fab">
						<i class="material-icons">navigate_before</i>
					</button>

				</a>
				<h1 style="margin-top: 20px;" th:text="${cliente.name}"></h1>
			</div>
			<div class="col-4" style="padding-top: 20px;">


				<a th:href="@{'/clientes/update/'+ ${cliente.idCliente}}">
					<button data-toggle="tooltip" data-placement="top" title="Editar"
						type="button" class="btn btn-primary bmd-btn-icon">
						<i class="material-icons md-36">create</i>
					</button>
				</a>
				<button title="Eliminar" data-toggle="modal" data-target="#modal"
					type="button" class="btn btn-danger bmd-btn-icon ">
					<i class="material-icons md-48">block</i>
				</button>

			</div>

		</div>

		<h4 class="d-inline">Contacto</h4>
		<button data-toggle="tooltip" data-placement="top" title="Llamar"
			type="button" class="btn btn-success bmd-btn-icon ">
			<i class="material-icons md-48">call</i>
		</button>
		<a target="_blank"
			th:href="'https://wa.me/51999771220?text=Hola, ' + ${cliente.name} ">
			<button data-toggle="tooltip" data-placement="top"
				title="Enviar mensaje por WhatsApp" type="button"
				class="btn btn-success bmd-btn-icon ">
				<i class="material-icons md-48">message</i>
			</button>
		</a>
		<div class=" dropdown-divider "></div>
		<div class="row ">
			<div class="col-4 ">
				<p>
					<b>Telefono: </b> <span th:text="${cliente.telefono}"></span>
				</p>
				<p>
					<b>Celular: </b> <span th:text="${cliente.celular}"></span>
				</p>
			</div>
			<div class="col-4 ">
				<p>
					<b>Direccion: </b> <span th:text="${cliente.direccion}"></span>
				</p>
				<p>
					<b>Correo: </b> <span th:text="${cliente.email}"></span>
				</p>
			</div>
		</div>
		<div class="dropdown-divider "></div>
		<div th:if="${mensaje}" class="alert alert-success" role="alert">
			<h6 th:text="${mensaje}"></h6>
		</div>
			<div th:if="${error}" class="alert alert-danger" role="alert">
			<h6 th:text="${error}"></h6>
		</div>
		<h2>Mascotas:</h2>
		<div class="row ">
			<div class="col-6 ">
				<div class="card ">
					<h3 style="padding-top: 15px; text-align: center;">Perros</h3>
					<div class="dropdown-divider "></div>
					<div class="container ">
						<ul class="list-group ">
							<!--ITERAR-->
							<li th:each="p : ${perros}" style="list-style: none;">
								<div class="d-flex bd-highlight">
									<div class="p-2 w-100 bd-highlight">
										<h5 th:text="${p.nombreMascota}"></h5>
									</div>
									<div class="p-2 flex-shrink-1 bd-highlight">
									<a th:href="@{'/mascotas/ver/'+ ${p.idMascota}}">
										<button type="button"
											class=" text-right btn btn-primary bmd-btn-icon bmd-btn-icon-lg">
											<i class="material-icons">more_vert</i>
										</button>
									</a>
									</div>
								</div>
							</li>


						</ul>
					</div>
				</div>
				<a th:href="@{'/mascotas/new/1/'+ ${cliente.idCliente}}">
					<button data-toggle="tooltip" data-placement="top"
						title="Añadir Perro"
						style="position: absolute; right: 1%; margin: 10px;" type="button"
						class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm">
						<i class="material-icons">add</i>
					</button>
				</a>

			</div>
			<div class="col-6 ">
				<div class="card ">
					<h3 style="padding-top: 15px; text-align: center;">Gatos</h3>
					<div class="dropdown-divider "></div>
					<div class="container ">
						<ul class="list-group ">
							<!--ITERAR-->
							<li th:each="g : ${gatos}" style="list-style: none;">
								<div class="d-flex bd-highlight">
									<div class="p-2 w-100 bd-highlight">
										<h5 th:text="${g.nombreMascota}"></h5>
									</div>
									<div class="p-2 flex-shrink-1 bd-highlight">
									<a th:href="@{'/mascotas/ver/'+ ${g.idMascota}}">
										<button type="button"
											class=" text-right btn btn-info bmd-btn-icon bmd-btn-icon-lg">
											<i class="material-icons">more_vert</i>
										</button>
									</a>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>

				<a th:href="@{'/mascotas/new/0/'+ ${cliente.idCliente}}">
					<button data-toggle="tooltip" data-placement="top"
						title="Agregar Gato"
						style="position: absolute; right: 1%; margin: 10px;" type="button"
						class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm">
						<i class="material-icons">add</i>
					</button>
				</a>

			</div>
		</div>
	</div>


	<div class="modal fade" id="modal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">¿Estas seguro que desea eliminarlo?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<a th:href="@{'/clientes/delete/'+ ${cliente.idCliente}}">
						<button type="button" class="btn btn-danger">Eliminar</button>
					</a>
				</div>
			</div>
		</div>
	</div>

		<script src="/js/vet.js">
    </script>
	<script src="/js/jquery-3.2.1.slim.min.js">
    </script>
	<script src="/js/popper.js">
    </script>
	<script
		src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
	<script src="/js/bootstrap-material-design.js">
    </script>
	<script>
        $(document).ready(function() {
            $('body').bootstrapMaterialDesign();
        });
    </script>
</body>

</html>