<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="/css/vet.css">
<title>Vet</title>
</head>

<body>

<div th:replace="fragments/load :: load"></div>
	<nav th:replace="fragments/nav :: nav"></nav>
	<div class="container">
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-lg-4 col-sm-12">
				<h1 style="margin-top: 20px;">Lista de Dueños</h1>
			</div>
			<div class="col-lg-8 col-sm-12">
				<form th:action="@{/clientes/find/dni}" method="post"
					th:object="${cliente}">

					<div class="form-group row">
						<div class="form-group col-3">
							<div class="dropdown" style="margin-top: 25px;">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">Buscar</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" th:href="@{/clientes/list/nombre}">Nombre</a> <a
										class="dropdown-item" th:href="@{/clientes/list/dni}">DNI</a> 
								</div>
							</div>
						</div>
						<div style="padding-left: 0px;" class="col-7 form-group">
							<label for="search" class="bmd-label-floating">Ingrese el
								DNI del dueño </label> <input autofocus type="text"
								th:field="*{dni}" id="search" class="form-control" />
						</div>
						<div class="col-2">
							<button type="submit" style="margin-top: 20px;"
								class="btn btn-primary bmd-btn-icon-lg">
								<i class="material-icons">search</i>
							</button>
						</div>
					</div>


				</form>
			</div>
		</div>
		<table class="table table-borderless">
			<thead class=" text-center thead-dark">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>DNI</th>
					<th>Celular</th>
					<th>Telefono</th>
					<th>Informacion</th>

				</tr>
			</thead>
			<tbody>
				<tr style="text-align: center;" th:each="d : ${listCliente}">
					<th th:text="${d.idCliente}"></th>
					<th th:text="${d.name}"></th>
					<th th:text="${d.dni}"></th>
					<th th:text="${d.celular}"></th>
					<th th:text="${d.telefono}"></th>
					<th><a th:href="@{'/clientes/ver/'+ ${d.idCliente}}">
							<button type="button" class="btn btn-primary bmd-btn-icon ">
								<i class="material-icons md-48">portrait</i>
							</button>
					</a></th>
				</tr>
			</tbody>
		</table>
		<div class="dropdown-divider"></div>
		<div th:if="${vacio}" class="alert alert-dark" role="alert">
			<h6 th:text="${vacio}"></h6>
		</div>
		<div th:if="${mensaje}" class="alert alert-success" role="alert">
			<h6 th:text="${mensaje}"></h6>
		</div>
		<a style="position: fixed; right: 50px; bottom: 30px;" th:href="@{/clientes/new}">
			<button type="button" class="btn btn-primary bmd-btn-fab">
				<i class="material-icons">add</i>
			</button>
		</a>
	</div>
	<script src="/js/vet.js">
    </script>
	<script src="/js/jquery-3.2.1.slim.min.js">
    </script>
	<script src="/js/popper.js">
    </script>
	<script
		src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
	<script src="/js/bootstrap-material-design.js">
    </script>
	<script>
        $(document).ready(function() {
            $('body').bootstrapMaterialDesign();
        });
    </script>
</body>

</html>