<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="/css/vet.css">
<title>Vet</title>
</head>

<body>

	<div th:replace="fragments/load :: load"></div>
	<nav th:replace="fragments/nav :: nav"></nav>
	<div class="container">
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-lg-4 col-sm-12">
				<h1 style="margin-top: 20px;">Lista de Servicios</h1>
			</div>
			<div class="col-lg-8 col-sm-12">
				<form th:action="@{/servicios/find}" method="post"
					th:object="${servicio}">

					<div class="form-group row">
						
						<div style="padding-left: 0px;" class="col-7 form-group">
							<label for="search" class="bmd-label-floating">Ingrese el
								Nombre del Servicio </label> <input autofocus type="text"
								th:field="*{nombreServicio}" id="search" class="form-control" />
						</div>
						<div class="col-2">
							<button type="submit" style="margin-top: 20px;"
								class="btn btn-primary bmd-btn-icon-lg">
								<i class="material-icons">search</i>
							</button>
						</div>
					</div>


				</form>
			</div>
		</div>
		<table class="table table-borderless">
			<thead class=" text-center thead-dark">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Intervalo</th>
					<th>Tipo</th>
					<th>Actualizar</th>
					<th>Eliminar</th>

				</tr>
			</thead>
			<tbody>
				<tr style="text-align: center;" th:each="s : ${listServicios}">
					<th th:text="${s.idServicio}"></th>
					<th th:text="${s.nombreServicio}"></th>
					<th th:text="${s.descripcion}"></th>
					<th th:text="${s.intervalo}"></th>
					<th th:text="${s.imprimirTipo()}"></th>
					<th><a th:href="@{'/servicios/update/'+ ${s.idServicio}}">
							<button type="button" class="btn btn-primary bmd-btn-icon ">
								<i class="material-icons md-48">create</i>
							</button>
					</a></th>
					<th><a th:href="@{'/servicios/delete/'+ ${s.idServicio} }">
							<button type="button" class="btn btn-danger bmd-btn-icon ">
								<i class="material-icons md-48">delete</i>
							</button>
					</a></th>
				</tr>
			</tbody>
		</table>
		<div class="dropdown-divider"></div>
		<div th:if="${vacio}" class="alert alert-dark" role="alert">
			<h6 th:text="${vacio}"></h6>
		</div>
		<div th:if="${mensaje}" class="alert alert-success" role="alert">
			<h6 th:text="${mensaje}"></h6>
		</div>
		<a style="position: fixed; right: 50px; bottom: 30px;" th:href="@{/servicios/new}">
			<button type="button" class="btn btn-primary bmd-btn-fab">
				<i class="material-icons">add</i>
			</button>
		</a>
	</div>
	<script src="/js/vet.js">
    </script>
	<script src="/js/jquery-3.2.1.slim.min.js">
    </script>
	<script src="/js/popper.js">
    </script>
	<script
		src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
	<script src="/js/bootstrap-material-design.js">
    </script>
	<script>
        $(document).ready(function() {
            $('body').bootstrapMaterialDesign();
        });
    </script>
</body>

</html>